<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!--Bootstrap css -->
		<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
		
		<title>
			Cursos de educación continua
		</title>
		
	</head>

	<body>
		
		<h1>
			{{titulo}}
		</h1>

		<navbar>
			<a href="/">Inicio</a>
			<a href="/crear">Crear curso</a>
		</navbar>