{{>header}}

		<p>
			{{respuesta.mensaje}}
		</p>
		<br>
		<div {{styleListado}} >
			<p>
				Los cursos que se tienen hasta el momento son:
			</p>
			{{{listar}}}
		</div>
      	<a {{styleBoton}} class="btn btn-primary" href="/crear" role="button">Volver</a>
{{>footer}}