<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!--Bootstrap css -->
		<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
		
		<title>
			Cursos de educación continua
		</title>
		
	</head>

	<body>
		
		<h1>
			{{titulo}}
		</h1>
		
		<p>
			Error 404: la página no existe.
		</p>

		<footer>
			<p>
				Todos los derechos reservados
			</p>
		</footer>
		
		<!--Bootstrap-->
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
	</body>

</html>